*{
    margin: 0;
    padding: 0;    
    font-family: 'Poppins', sans-serif;
}

header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
header nav{
    display: flex;
    padding: 1% 6% 2% 4%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav img{
    width: 100px;
    padding: 8px;
}
header nav .nav_link{
    flex: 1;
    text-align: right;
}
header nav .nav_link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
header nav .nav_link ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
header nav .nav_link ul li::after{
    content: '';
    width: 0%;
    height: 2.5px;
    background-color: #f44336;
    border-radius: 10px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
header nav .nav_link ul li:hover::after{
    width: 100%;
}


header>h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
}


.blog-container{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog{
    display: flex;
    justify-content: space-between;
}

.blog-box1{
    flex-basis: 65%;
}
.blog-box1 img{
    width: 100%;
}
.blog-box1 h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-box1 p{
    font-size: 14px;
    color: #999;
    line-height: 22px;
    font-weight: 300;
    padding: 0px;
}


.blog-box2{
    flex-basis: 32%;
}
.blog-box2 h3{
    background-color: #f44336;
    color: white;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-box2 div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box ;
}


.comment{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment h3{
    text-align: left;
}

.comment input, .comment textarea{
    width: 100%;
    margin: 10px;
    padding: 15px 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}

.comment button{
    margin: 10px 10px;
}



footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
}
footer h4{
    margin: 20px 0 25px 0;
    font-weight: 600;
}
footer p{
    font-size: 14px;
    color: #777;
    line-height: 22px;
    font-weight: 300;
    padding: 10px;
}
footer p .bi{
    color: red;
}





.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    font-size: 13px;
    padding: 12px 34px;
    cursor: pointer;
    position: relative;
    background: transparent;
}
.hero-btn:hover{
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
    border-radius: 5px;
    transition: 1s;
}






nav .bi{
    display: none;
}
