@media screen and (max-width: 700px) {
   .nav_link{
    position: fixed;
    background-color: #f44336;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    text-align: left !important;
    z-index: 2;
    transition: 1s;
   } 
   #name{
      display: inline-block;
   }
   .nav_link ul{
      padding: 25px;
   }
   .nav_link li{
    display: block !important;
   }
   nav .bi{
      display: inline-block;
      color: white; 
      margin: 12px;
      font-size: 22px;
      font-weight: bolder;
      cursor: pointer;
   }

   header .text-box h1{
    font-size: 20px;
   }
   header .text-box p{
    font-size: 10px;
   }

   .about{
      flex-direction: column;
   }

   .course-container .courses{
      flex-direction: column;
   }

   .campus{
      flex-direction: column;
   }

   .facility{
      flex-direction: column;
   }
   .testimonial{
      flex-direction: column;
   }
   .testimonial-box img{
      margin: 0 15px 0 0px;
  }

  .cta h1{
   font-size: 24px;
  }


  blog-header{
   min-height: 50vh;
  }
  .bolg-tittle{
   font-size: 24px;
  }
  .blog{
   flex-direction: column;
  }

  .contact{
   flex-direction: column;
  }
}